doctype html
html(lang="en-US")
    head
        title places test
        link(rel="stylesheet" type="text/css" href="css/style.css")

body
    #container
        #header
            a.menu-btn(href="#")
                img(src="imagesNotU/icons8-menu.svg")
            menu
                .menu-container
                    .header-item
                        a.category-link(href="#") Beauty salons and spas
                    .sub-items
                        a.subcategory-link(href="#") subitem
                        a.subcategory-link(href="#") subitem
                        a.subcategory-link(href="#") subitem
                        a.subcategory-link(href="#") subitem
                        a.subcategory-link(href="#") subitem
                        a.subcategory-link(href="#") subitem
                        a.subcategory-link(href="#") subitem
                        a.subcategory-link(href="#") subitem


            .logo Places roadmap
        #content
            #left
                .sub-categories

            #right
                .place-header
                    h1 PlaceName
                //add openstreetmap
                #map
                
                .things
                    h2 Things
                        em  To Do
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .places
                    h2 Places to
                        em  Stay
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .events
                    h2 Events
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .food
                    h2 Food
                        em  & Drink
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .plans
                    h2 Plans to
                        em  visit
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                //add openstreetmap

                    

                //add openstreetmap
            




    //connect openstreetmap sccript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css")  

    script(src='static/js/libs.min.js')
    script(src='static/js/main.js')



